* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: inherit;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  transition: height 0.5s;
  background-color: #fff;
  padding: 0 24px;
}

.logo {
  display: flex;
  align-items: center;
  color: #4d463d;
  gap: 1rem;
}

.logo > img {
  width: 50px;
  height: 50px;
}

.logo > h1 {
  font-size: 25px;
}

.connect_wallet {
  color: #222;
  cursor: pointer;
  transition: 0.4s;
  background-size: 200%;
  border-radius: 10px;
  background-image: linear-gradient(
    91.08deg,
    #e3ecfb -3.34%,
    #f3d8f3 25.84%,
    #cdf1ec 50.99%,
    #f3d8f3 70%,
    #e3ecfb 105.99%
  );
  padding: 0 16px;
  height: 40px;
}

.connect_wallet:hover {
  background-position: right center;
}

.content {
  margin-top: 150px;
  padding: 0 24px;
}

.disconnect-modal {
  padding: 16px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 24rem;
  border-radius: 1rem;
  width: 100%;
  z-index: 2;
  display: none;
}

.disconnect-modal-on {
  display: inherit;
  flex-direction: column;
}

.disconnect-content {
  padding: 40px 24px;
  text-align: center;
}

.disconnect-content > h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.disconnect-content > span {
  font-size: 16px;
}

.disconnect-btns {
  gap: 0.5rem;
  width: 100%;
  display: flex;
  text-align: center;
}

.disconnect-btns > button {
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  display: inline-flex;
  height: 3.5rem;
  width: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s;
}

.disconnect-cancel {
  color: #2222224d;
  background-color: #f4f4f4;
}

.disconnect-cancel:hover {
  color: #222;
  background-color: #f1f1f1;
}

.disconnect-button {
  color: #fff;
  background-color: #0038ff;
}

.disconnect-button:hover {
  color: #222;
  background-color: #f1f1f1;
}

.disconnect-dimm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

.disconnect-dimm.disconnect-modal-on {
  display: inherit;
}

.buttonContainer {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 3rem;
  transition: 0.5s;
  cursor: pointer;
}

.buttonContainer:hover {
  background-color: #eee;
  border-radius: 10px;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

.section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 140px;
  gap: 1.5rem;
}

.mint {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #cdf1ec;
  padding: 20px;
  height: 80vh;
}

.chart {
  height: 95%;
}

.lavender {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #e3ecfb;
}

.balance-btns {
  margin-top: 1rem;
  gap: 0.5rem;
}

.balance-btns > button {
  font-size: 0.875rem;
  padding: 0 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  height: 3rem;
  width: 50%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2222221a;
}

.balance-btns > button > svg {
  margin-right: 12px;
}

.deposit {
  color: #fff;
}

.deposit:active,
.withdraw:active {
  top: 1px;
  border-color: rgba(0, 0, 0, 0.34) rgba(0, 0, 0, 0.21) rgba(0, 0, 0, 0.21);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05) inset;
}

.withdraw {
  color: #222;
}

.balance {
  padding: 20px;
  text-align: center;
}

.balance > h4 {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 500;
}

.balance > span {
  font-size: 28px;
  font-weight: 400;
}

.balance > p {
  font-size: 10px;
  margin-top: 4px;
  font-weight: 500;
}

.balance-input {
  position: relative;
  color: #808080;
}

.withdrawpage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 2;
  padding: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
}

#withdrawAmount {
  padding: 12px 56px 12px 16px;
  border: 2px solid #fff;
  border-radius: 16px;
  overflow-x: hidden;
  width: 100%;
  font-size: 24px;
}

#withdrawAmount:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#withdrawAddress {
  border: none;
}

#withdrawAddress:focus {
  outline: none;
}

.max {
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 500;
  color: #808080;
}

.max > button {
  cursor: pointer;
}

.max_number {
  color: #222;
  padding: 0 4px;
  font-size: 12px;
}

.max_text {
  color: #808080;
  font-size: 12px;
  border-bottom: 1px dashed;
}

.dimm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.depositpage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #fff;
  z-index: 2;
  overflow: hidden;
}

.modal-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 700;
}

strong {
  font-size: 12px;
  color: #999;
}

.wallet-address {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
}

.address {
  width: calc(100% - 66px);
  height: auto;
  padding: 10px 20px;
  border: 1px solid #e6d2b8;
  word-break: break-all;
  font-size: 14px;
  color: #333;
  background: #faf7f2;
  border-radius: 1px;
  font-weight: 600;
}

.three {
  color: #e66d16;
}

.copy-button {
  height: auto;
  margin-left: 10px;
  border: 1px solid #e6d2b8;
  background-color: #fff;
  border-radius: 1px;
  padding: 10px;
  color: #6f6558;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s;
}

.copy-button:hover {
  background-color: #e66d16;
  color: #fff;
}

.submit {
  border: none;
  background-color: #b39c7d;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

/* paint */

.paint {
  margin-top: 150px;
}

canvas {
  width: 700px;
  height: 700px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.color-options {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.color-option {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  transition: transform ease-in-out 0.1s;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.color-option:hover {
  transform: scale(1.2);
}

.input#color {
  background-color: white;
}

button,
label {
  all: unset;
  padding: 10px 5px;
  text-align: center;
  background-color: royalblue;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition: opacity linear 0.1s;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

button:hover {
  opacity: 0.85;
}

input#file {
  display: none;
}

input#text {
  all: unset;
  padding: 10px 0px;
  border-radius: 10px;
  font-weight: 500;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* paint */

@media (max-width: 640px) {
  .section {
    display: block;
  }
}

@media (min-width: 768px) {
  .balance-btns {
    display: flex;
  }
}

@media (max-width: 768px) {
  .balance-btns > button {
    margin-bottom: 8px;
    width: 100%;
  }
}
